@import url('//fonts.googleapis.com/css?family=Pathway+Gothic+One:400');
/* @import url('//fonts.googleapis.com/css?family=Russo+One:400'); */
/* @import url('//fonts.googleapis.com/css?family=Anton:400'); */

*::selection {
	background-color:transparent;
}
*::-moz-selection {
	background-color:transparent;
}
input[type="text"]::selection {
	background-color:green;
}
* {
	font-family: 'Pathway Gothic One', sans-serif;
	/* font-family: 'Russo One', sans-serif; */
	/* font-family: 'Anton', sans-serif; */

	font-size: 24px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

	touch-action: manipulation;
}
/*
@media only screen and (min-width: 0px) and (max-width: 800px) {
	* {
		font-size: 12px;
	}
}
@media only screen and (min-width: 800px) and (max-width: 1600px) {
	* {
		font-size: 14px;
	}
}
@media only screen and (min-width: 1600px) and (max-width: 2400px) {
	* {
		font-size: 22px;
	}
}
*/

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	/* height: 100vh; */
	/* min-height: 100vh; */
	background: transparent;
	background-color: #220000;
	background-image: url('../images/body-bg_2.jpg');
	/* overflow: visible; */
	background-size: cover;
	background-attachment: fixed;
	line-height: 0.95;
}
body {
	position: fixed;
	top: 0;
	bottom: 0;
}
.fullscreen {
	height: 100%;
}
iframe {

	border: none;
}
#iframe_specialabilities {
	position: absolute;
	display:block;
	visibility: visible; /* hidden, visible */
	background-color: transparent;
    width: 100px;
    height: 50px;
    margin: 0 auto;
	z-index: 9990;
}
#iframe_save {
	display: none; /* none, block */
	visibility: hidden; /* hidden, visible */
	position: fixed;
	background-color: red;
	left: 5px;
	bottom: 5px;
	width: 500px;
	height: 100px;
	z-index: 9999;
}
table {
	padding: 0;
	margin: 0;
	border: 0;
}
tr {
	padding: 0;
	margin: 0;
	border: 0;
}
td {
	padding: 0;
	margin: 0;
	border: 0;
}
div {
	padding: 0;
	margin: 0;
	border: 0;
}
img {
	border: 0px;
}
a {
	color: #dcdcdc;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/* FontAwesome Icons ------------------------------------------------------------------------------------------------ */

.fa {
	font-family: FontAwesome;
	font-size: 30px;
}
.fa-fw { /* symbols with fixed width */
	text-align: center;
	width: 1em;
}

.options {
	border-radius: 5px;
	border-style: solid;
	border-width: 3px;
	padding: 5px;
	background: rgba(60,60,60,0.75);
	color: #ddd;
	border-color: #aaa;
}
.box {
	width: 500px;
	height: 200px;
	background-color: #694007;
	position: fixed;
	margin-left: -250px;
	margin-top: -100px;
	top: 50%;
	left: 50%;
}
#cover {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #000000;
	/* background-image: url('images/body-bg_1.jpg'); */
	z-index:110;
}
#gamemenu {
	position: fixed;
	display: none; /* none, block */
	visibility: hidden; /* hidden, visible */
	height: 100%;
	width: 100%;
	top: 65px;
	left: 0px;
	right: 0px;
	/* bottom: 0px; */
	background: transparent;
	background-color: rgba(10, 10, 10, 0.90);
	z-index:1100;
}
#specialabilitiescontainer {
	text-align: center;
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 65px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: transparent;
	background-color: rgba(10, 10, 10, 0.90);
	z-index:1060;
}
#specialabilitiescontainer_standalone {
	text-align: center;
	position: fixed;
	display: block;
	border: 50px;
	margin: auto;
	width: 100%;
	height: 100%;
	background-image: url('../images/body-bg_2.jpg');
	background-size: cover;
	z-index:1010;
}
#destroyedIndicator {
	text-align: center;
	position: fixed;
	margin: 0 auto;
	width: 100%;
	height: 250px;
	top: 100;
	pointer-events:none;
	background: transparent;
	z-index:1000;
}
#crippledIndicator {
	text-align: center;
	position: fixed;
	margin: 0 auto;
	width: 100%;
	height: 250px;
	top: 100;
	pointer-events:none;
	background: transparent;
	z-index:1000;
}
#shutdownIndicator {
	text-align: center;
	position: fixed;
	margin: 0 auto;
	width: 100%;
	height: 250px;
	top: 100;
	pointer-events:none;
	background: transparent;
	z-index:1005;
}
#narcIndicator {
	text-align: center;
	position: fixed;
	margin: 0 auto;
	width: 100%;
	height: 250px;
	top: 100;
	pointer-events:none;
	background: transparent;
	z-index:1010;
}
#header {
	position: relative;
	z-index: 999;
	width: 100%;
	/* height: 140px; */
	/* min-height: 140px; */
	/* max-height: 140px; */
	margin: 0 0;
	top: 0px;
	text-align: center;
}
#pilotimage {
	z-index: 3;
	position: absolute;
	padding: 0px;
	top: 72px;
	left: 15px;
	border-style: solid;
	border-width: 3px;
}
#pilotrank {
	z-index: 3;
	position: absolute;
	padding: 0px;
	top: 125px;
	left: 95px;
	border-style: solid;
	/* border-width: 1px; */
}
#topleft {
	z-index: 3;
	position: absolute;
	padding: 20px;
	top: 52px;
	left: 140px;
}
#unitname {
	position: absolute;
	padding: 20px;
	top: 52px;
	font-family: Arial;
	font-size: 72px;
	color: #999;
	z-index: 3;
	text-shadow:
		-2px   -2px black,
		-2px -1.5px black,
		-2px   -1px black,
		-2px -0.5px black,
		-2px    0px black,
		-2px  0.5px black,
		-2px    1px black,
		-2px  1.5px black,
		-2px    2px black,
		-1.5px  2px black,
		-1px    2px black,
		-0.5px  2px black,
		0px     2px black,
		0.5px   2px black,
		1px     2px black,
		1.5px   2px black,
		2px     2px black,
		2px   1.5px black,
		2px     1px black,
		2px   0.5px black,
		2px     0px black,
		2px  -0.5px black,
		2px    -1px black,
		2px  -1.5px black,
		2px    -2px black,
		1.5px  -2px black,
		1px    -2px black,
		0.5px  -2px black,
		0px    -2px black,
		-0.5px -2px black,
		-1px   -2px black,
		-1.5px -2px black;
}
#faction {
	z-index: 3;
	position: absolute;
	border-style: solid;
	border-width: 3px;
	padding: 0px;
	background: rgba(20,20,20,0.75);
	top: 72px;
	left: 90px;
}
#dice {
	z-index: 3;
	display: table-cell;
	vertical-align: middle;
	/* border-radius: 5px; */
	/* border-style: solid; */
	/* border-width: 3px; */
	padding: 2px;
	/* background: rgba(20,20,20,0.75); */
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
	width: 150px;
	height: 70px;
}
#motivedice {
    z-index: 3;
    display: table-cell;
    vertical-align: middle;
    /* border-radius: 5px; */
    /* border-style: solid; */
    /* border-width: 3px; */
    padding: 2px;
    /* background: rgba(20,20,20,0.75); */
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    width: 150px;
    height: 70px;
}
#criticalhit {
	z-index: 3;
	vertical-align: middle;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 16px;
	font-size: 24px;
	color: #eeeeee;
}
#motivehit {
	z-index: 3;
	vertical-align: middle;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 16px;
	font-size: 24px;
	color: #eeeeee;
}
#pilotinfo {
	z-index: 3;
	vertical-align: middle;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 0px;
	font-size: 24px;
	color: #eeeeee;
}
#topright {
	z-index: 11;
	position: absolute;
	padding: 0px;
	top: 60px;
	right: 0px;
}
#player_image {
	z-index: 1250;
	position: absolute;
	border-style: solid;
	border-width: 0px;
	padding: 0px;
	top: 0px;
	right: 0px;
	width: 60px;
	height: 60px;
}
#blockNotOwnedUnits {
	z-index: 700;
	position: absolute;
	top: 50px;
	bottom: 40px;
	left: 0px;
	right: 0px;
	background-image: url('../images/block.png');
	opacity: 1.00;
	background-size: cover;
}
#editMovementValues {
	z-index: 200;
	position: absolute;
	top: 50px;
	bottom: 40px;
	left: 0px;
	right: 0px;
	background-image: url('../images/editmovement.png');
	opacity: 1.00;
	background-size: cover;
}
#bgrightbar {
	position: absolute;
	z-index: 2;
	width: 100px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	color: #000000;
	/* background-color: #ffffff; */
	background-image: url('../images/bgrightbar.png');
}
#dicebar {
	z-index: 10;
	position: absolute;
	width: 300px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	color: #000000;
	/* background-color: #ffffff; */
	background-image: url('../images/bgdicebar.png');
}
#infobar {
	z-index: 10;
	position: absolute;
	width: 300px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	color: #000000;
	/* background-color: #ffffff; */
	background-image: url('../images/bgdicebar.png');
}
#soundboard {
	z-index: 10;
	position: absolute;
	width: 300px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	color: #000000;
	/* background-color: #ffffff; */
	background-image: url('../images/bgdicebar.png');
}
#movebar {
	z-index: 10;
	position: absolute;
	width: 300px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	color: #000000;
	/* background-color: #ffffff; */
	background-image: url('../images/bgdicebar.png');
}
#dicepanel {
	z-index: 10;
	position: absolute;
	width: 220px;
	right: 0px;
	bottom: 35px;
	color: #000000;
	text-align: right;
	/* background-color: #ffffff; */
	/* background-image: url('../images/bgdicebar.png'); */
}
#infopanel {
	z-index: 10;
	position: absolute;
	width: 220px;
	right: 0px;
	bottom: 50px;
	padding-right: 10px;
	color: #000000;
	text-align: right;
	/* background-color: #ffffff; */
	/* background-image: url('../images/bgdicebar.png'); */
}
#soundboardpanel {
	z-index: 10;
	position: absolute;
	width: 220px;
	right: 0px;
	bottom: 50px;
	padding-right: 10px;
	color: #000000;
	text-align: right;
	/* background-color: #ffffff; */
	/* background-image: url('../images/bgdicebar.png'); */
}
#movepanel {
	z-index: 10;
	position: absolute;
	width: 210px;
	right: 0px;
	bottom: 50px;
	padding-right: 10px;
	padding-left: 10px;
	color: #000000;
	text-align: center;
	/* background-color: #ffffff; */
	/* background-image: url('../images/bgdicebar.png'); */
}
#barclosebutton {
	z-index: 11;
	position: absolute;
	width: 50px;
	right: 235px;
	bottom: 46px;
	color: #000000;
}
#unit_number {
	z-index: 100;
	position: absolute;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	padding: 0px;

	/* background-size: cover; */
	width: 140px;
	/* height: 80px; */
	/* line-height: 30px; */
	right: 15px;
	top: 83px;
	color: #fff;
	font-size: 28px;
}
#pv {
	z-index: 11;
	position: absolute;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	padding: 0px;
	top: 80px;
	height: 50px;
	right: 235px;
}
#liberapay {
	z-index: 1420;
	position: fixed;
	bottom: 15px;
	left: 15px;
	text-align: left;
	width: 400px;
	padding: 0px
}
#disclaimer {
	z-index: 1420;
	position: fixed;
	bottom: 15px;
	right: 15px;
	text-align: right;
	width: 400px;
	padding: 0px
}
#bottomleft {
	z-index: 20;
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: left;
	width: 400px;
	padding: 0px
}
#bottomright {
	z-index: 20;
	position: absolute;
	margin-right: auto 0;
	bottom: 0px;
	right: 0px;
	text-align: right;
}
#unit {
	z-index: 1;
	position: absolute;
	margin-right: auto 0;
	top: 12%;
	left: 45%;
	right: 15%;
	object-fit: contain;
	overflow: visible;
}
#unitimage {
	width: 100%;
	height: auto !important;
}
#footer {
	z-index: 20;
	position: absolute;
	width: 100%;
	height: 40px;
	min-height: 40px;
	max-height: 40px;
	margin: 0 0;
	bottom: 0px;
	text-align: center;
	background: rgba(32,32,32,1.0);
	border-top: #050505 5px solid;
	/*  background-image: url('../images/bottom-bg.png'); */
	/*  background-repeat: repeat-x; */
	/*  background-position: bottom center; */
	/*  background-size: 110px; */
}
#version {
	z-index: 20;
	position: absolute;
	color: #ffffff;
	font-family: Arial, 'Arial Sans Unicode', sans-serif;
	font-size: 12px;
	font-weight: normal;
	bottom: 3px;
	right: 300px;
}
#settings {
	font-family: FontAwesome;
	z-index: 99;
	position: absolute;
	bottom: 4px;
	width: 100%;
}
.phase_button_normal {
	font-size: 100%;
	padding: 10px;
	border: 10px;
	background-color: #555555;
	color: #eeeeee;
	text-align: center;
}
.phase_button_normal:hover {
	font-size: 100%;
	padding: 10px;
	border: 10px;
	background-color: #888888;
	color: #eeeeee;
	text-align: center;
}
.phase_button_selected {
	font-size: 100%;
	padding: 10px;
	border: 10px;
	background-color: #da8a17;
	color: #eeeeee;
	text-align: center;
}

.unitselect_button_normal {
	font-size: 100%;
	padding: 3px;
	background-color: #da8e25;
	color: #000000;
	text-align: center;
}
.unitselect_button_normal:hover {
	font-size: 100%;
	padding: 3px;
	background-color: #925a0a;
	color: #000000;
	text-align: center;
}

.unitselect_button_normal_left {
	font-size: 100%;
	padding: 3px;
	background-color: #da8e25;
	color: #000000;
	text-align: left;
}
.unitselect_button_normal_left:hover {
	font-size: 100%;
	padding: 3px;
	background-color: #925a0a;
	color: #000000;
	text-align: left;
}
.unitselect_button_active {
	font-size: 100%;
	padding: 3px;
	background-color: #694007;
	color: #ffffff;
	text-align: center;
	/* height:100% */
}
.unitselect_button_active_left {
	font-size: 100%;
	padding: 3px;
	background-color: #694007;
	color: #ffffff;
	text-align: left;
}

.unitselect_button_normal_play_left {
	font-size: 100%;
	padding: 3px;
	background-color: #556b8f;
	color: #000000;
	text-align: left;
}
.unitselect_button_normal_play_left:hover {
	font-size: 100%;
	padding: 3px;
	background-color: #425470;
	color: #000000;
	text-align: left;
}
.unitselect_button_active_play_left {
	font-size: 100%;
	padding: 3px;
	background-color: #2b3649;
	color: #ffffff;
	text-align: left;
}

.formationselect_button_normal {
	font-size: 100%;
	padding: 3px;
	background-color: #565656;
	color: #000000;
	text-align: center;
 }
 .formationselect_button_normal:hover {
	font-size: 100%;
	padding: 3px;
	background-color: #656565;
	color: #000000;
	text-align: center;
 }
 .formationselect_button_normal_left {
	font-size: 100%;
	padding: 3px;
	background-color: #565656;
	color: #000000;
	text-align: left;
 }
.formationselect_button_normal_left:hover {
	font-size: 100%;
	padding: 3px;
	background-color: #656565;
	color: #000000;
	text-align: left;
}

input, input:before, input:after {
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}

input.bigcheck {
}
label.bigcheck {
}
span.bigcheck-target {
	font-family: FontAwesome;
	font-weight: bold;
	margin-left: -20px;
	margin-right: 0px;
	padding-left: -20px;
	padding-right: 0px;
	font-size: 100%;
	/* vertical-align:middle; */
}
input[type='checkbox'].bigcheck {
	position: relative;
	left: -999em;
	opacity: 0;
	z-index: -10000;
}
input[type='checkbox'].bigcheck + span.bigcheck-target:after {
	content: "\f111";
	/* transition: all .25s; */
	font-family: 'Font Awesome 5 Free';
	font-weight: 200;
}
input[type='checkbox'].bigcheck:checked + span.bigcheck-target:after {
	content: "\f058";
	/* transition: all .25s; */
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}
.datatable {
	width: 100%;
	position: absolute;
	z-index: 10;
	bottom: 45px;
}
.dataarea {
	border-radius: 10px;
	border-style: solid;
	border-width: 4px;
	padding: 5px;
	background: rgba(70,70,70,0.85);
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.dataarea_red {
	border-radius: 10px;
	border-style: solid;
	border-width: 4px;
	padding: 0px;
	background: rgba(70,0,0,0.65);
	/* background-image: linear-gradient(to left, transparent, black); */
	background-image: linear-gradient(to left, black, black);
	background-size: 15% 100%;
	background-position: left top;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.dataarea_content {
	border-radius: 0px;
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border: 0px;
	padding: 5px;
	margin: 0px;
}
.dataarea_divider_horizontal {
	border-radius: 0px;
	border-style: solid;
	border-bottom-style: dashed;
	border-top-width: 0px;
	border-bottom-width: 2px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	padding: 2px;
	margin: 0px;
}
.datalabel {
	font-family: 'Pathway Gothic One', sans-serif;
	vertical-align: middle;
	color: #999;
	padding-right: 5px;
}
.datalabel_button {
	font-family: 'Pathway Gothic One', sans-serif;
	vertical-align: middle;
	color: #999;
	padding-right: 5px;
}
.datalabel_disabled_solid {
	font-family: 'Pathway Gothic One', sans-serif;
	vertical-align: middle;
	color: #999;
	padding-right: 5px;
	background-color:#aaaa00;
}
.datalabel_disabled_dashed {
	font-family: 'Pathway Gothic One', sans-serif;
	vertical-align: middle;
	color: #999;
	background-image:repeating-linear-gradient(315deg, #222 0%, #222 15%, #108af9 15%, #108af9 30%, #222 30%);
}
.datalabel_thin {
	font-family: 'Pathway Gothic One', sans-serif;
	vertical-align: middle;
	color: #999;
	padding-right: 5px;
}
.datalabel_thin_small {
	font-family: 'Pathway Gothic One', sans-serif;
	vertical-align: middle;
	color: #999;
	padding-right: 5px;
}
.datalabel_thin_disabled {
	font-family: 'Pathway Gothic One', sans-serif;
	vertical-align: middle;
	color: #222;
	padding-right: 5px;
	visibility: hidden;
}
.datavalue {
	vertical-align: middle;
	color: #ccc;
	text-transform: uppercase;
}
.datavalue_special {
	vertical-align: middle;
	color: #8ec76b;
	text-transform: uppercase;
}
.datavalue_small {
	vertical-align: middle;
	color: #ccc;
	text-transform: uppercase;
}
.datavalue_small_special {
	vertical-align: middle;
	color: #ddd;
	text-transform: uppercase;
}
.datavalue_thin {
	font-family: 'Pathway Gothic One', sans-serif;
	vertical-align: middle;
	text-transform: uppercase;
	color: #ccc;
}
.datavalue_thinflow {
	font-family: 'Pathway Gothic One', sans-serif;
	vertical-align: top;
	color: #ccc;
	font-size: 1.0em;
	padding: 10px;
}

.footerInfo {
	font-family: 'Pathway Gothic One', sans-serif;
	color: #ccc;
	font-size: 18px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 0px;
}

/* Glow ------------------------------------------------------------------------------------------------------------- */

@keyframes glow {
	from {
		background-color: #2b3649;
	}
	to {
		background-color: #7f97b5;
	}
}

/* SVG animation ---------------------------------------------------------------------------------------------------- */

/* .hudanimation {
	z-index: 5;
	position: absolute;
	bottom: 0px;
	right: 0px;
	opacity: 0.4;
} */
.hudcenteranimation {
	z-index: -50;
	position: absolute;
	top: 50px;
	right: 0px;
	left: 0px;
	margin: auto;
	width: 100%;
	opacity: 0.6;
}
svg {
	height: 400px;
	width: 100%;
}
@keyframes turn {
0% {
    transform: rotate(0)
}
100% {
    transform:rotate(1080deg);
}
}
.st0, .st1, .st2, .st3 {
	fill: none;
	stroke: rgba(120, 120, 120, 0.35);
	stroke-width: 42;
	stroke-miterlimit: 10;
}
.st0 {
	stroke-dasharray: 12.1947, 12.1947, 12.1947, 12.1947, 12.1947, 12.1947;
}
.st1 {
	stroke-dasharray: 50, 90, 200, 30, 40, 0;
}
.st2 {
	stroke-linecap: square;
	stroke-dasharray: 120, 20, 110, 20, 140;
}
.st3 {
	stroke-width: 16;
	stroke-linecap: square;
}
