@import url('//fonts.googleapis.com/css?family=Pathway+Gothic+One:400');
/* @import url('//fonts.googleapis.com/css?family=Russo+One:400'); */
/* @import url('//fonts.googleapis.com/css?family=Anton:400'); */

*::selection {
	background-color:transparent;
}
*::-moz-selection {
	background-color:transparent;
}

* {
	font-family: 'Pathway Gothic One', sans-serif;
	/* font-family: 'Russo One', sans-serif; */
	/* font-family: 'Anton', sans-serif; */

	font-size: 26px;
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*
@media only screen and (min-width: 0px) and (max-width: 800px) {
	* {
		font-size: 12px;
	}
}
@media only screen and (min-width: 800px) and (max-width: 1600px) {
	* {
		font-size: 14px;
	}
}
@media only screen and (min-width: 1600px) and (max-width: 2400px) {
	* {
		font-size: 22px;
	}
}
*/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	height: 100vh;
	min-height: 100vh;
	background-image: url('../images/body-bg_2.png');
	overflow: visible;
	background-size: cover;
}
.fullscreen {
  height: 100%;
}
iframe {
	display: none;
	visibility: hidden;
	position: absolute;
	background-color: red;
	left: 80;
	top: 80;
	width: 800px;
	height: 300px;
	border: none;
	z-index: 9999;
}
img {
	border: 0px;
}
a {
	color: #dcdcdc;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.fa {
	font-family: FontAwesome;
	font-size: 30px;
}
.fa-fw { /* symbole mit fester Breite */
	text-align: center;
	width: 1em;
}
#cover {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000;
	/* background-image: url('images/body-bg_1.png'); */
	z-index:100;
}

#header {
	position: relative;
	z-index: 999;
	width: 100%;
	//height: 140px;
	//min-height: 140px;
	//max-height: 140px;
	margin: 0 0;
	top: 0px;
	text-align: center;
}
#pilotimage {
	z-index: 3;
	position: absolute;
	padding: 0px;
	top: 72px;
	left: 15px;
	border-style: solid;
	border-width: 3px;
}
#pilotrank {
	z-index: 3;
	position: absolute;
	padding: 0px;
	top: 125px;
	left: 95px;
	border-style: solid;
    //border-width: 1px;
}
#mech_number {
	z-index: 100;
	position: absolute;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	padding: 0px;
	//background-image: url('../images/mech_number.png');
	background-size: cover;
	width: 90px;
	height: 60px;
	line-height: 60px;
	right: 5px;
	top: 138px;
	color: #fff;
}
#topleft {
	z-index: 3;
	position: absolute;
	padding: 20px;
	top: 52px;
	left: 140px;
}
#faction {
	z-index: 3;
	position: absolute;
	border-style: solid;
	border-width: 3px;
	padding: 0px;
	background: rgba(20,20,20,0.75);
	top: 72px;
	left: 90px;
}
#dice {
	z-index: 3;
	display: table-cell;
	vertical-align: middle;
	//border-radius: 5px;
	//border-style: solid;
	//border-width: 3px;
	padding: 2px;
	//background: rgba(20,20,20,0.75);
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
	width: 150px;
	height: 70px;
}
#criticalhit {
	z-index: 3;
	vertical-align: middle;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 16px;
	font-size: 24px;
	color: #eeeeee;
}
#pilotinfo {
	z-index: 3;
	vertical-align: middle;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 0px;
	font-size: 24px;
	color: #eeeeee;
}
#topright {
	z-index: 11;
	position: absolute;
	padding: 0px;
	top: 60px;
	right: 0px;
}
#mechalive_status {
	z-index: 11;
	position: absolute;
	border-style: solid;
	border-width: 0px;
	padding: 0px;
	top: 99px;
	right: 274px;
	width: 80px;
	height: 54px;
}
#player_image {
	z-index: 1250;
	position: absolute;
	border-style: solid;
	border-width: 0px;
	padding: 0px;
	top: 0px;
	right: 0px;
	width: 60px;
	height: 60px;
}
#blockNotOwnedMechs {
	z-index: 700;
	position: absolute;
	top: 50px;
	bottom: 40px;
	left: 0px;
	right: 0px;
	background-image: url('../images/block.png');
	opacity: 1.00;
	background-size: cover;
}
#editMovementValues {
	z-index: 200;
	position: absolute;
	top: 50px;
	bottom: 40px;
	left: 0px;
	right: 0px;
	background-image: url('../images/editmovement.png');
	opacity: 1.00;
	background-size: cover;
}
#bgrightbar {
	position: absolute;
	z-index: 2;
	width: 100px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	color: #000000;
	//background-color: #ffffff;
	background-image: url('../images/bgrightbar.png');
}
#dicebar {
	z-index: 10;
	position: absolute;
	width: 300px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	color: #000000;
	//background-color: #ffffff;
	background-image: url('../images/bgdicebar.png');
}
#infobar {
	z-index: 10;
	position: absolute;
	width: 300px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	color: #000000;
	//background-color: #ffffff;
	background-image: url('../images/bgdicebar.png');
}
#dicepanel {
	z-index: 10;
	position: absolute;
	width: 220px;
	right: 0px;
	bottom: 35px;
	color: #000000;
	text-align: right;
	//background-color: #ffffff;
	//background-image: url('../images/bgdicebar.png');
}
#infopanel {
	z-index: 10;
	position: absolute;
	width: 220px;
	right: 0px;
	bottom: 50px;
	padding-right: 10px;
	color: #000000;
	text-align: right;
	//background-color: #ffffff;
	//background-image: url('../images/bgdicebar.png');
}
#barclosebutton {
	z-index: 11;
	position: absolute;
	width: 50px;
	right: 235px;
	bottom: 46px;
	color: #000000;
}
#pv {
	z-index: 11;
	position: absolute;
//	display: inline-block;
   	text-align: right;
 	vertical-align: middle;
	padding: 0px;
	top: 95px;
	right: 5px;
}
#bottomleft {
	z-index: 20;
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: left;
	width: 400px;
	padding: 0px
}
#bottomright {
	z-index: 20;
	position: absolute;
	margin-right: auto 0;
	bottom: 0px;
	right: 0px;
	text-align: right;
}
#mech {
	z-index: 1;
	position: absolute;
	margin-right: auto 0;
	bottom: 1px;
	//right: 145px;
	right: 345px;
}
#footer {
	z-index: 20;
	position: absolute;
	width: 100%;
	height: 40px;
	min-height: 40px;
	max-height: 40px;
	margin: 0 0;
	bottom: 0px;
	text-align: center;
	background: rgba(32,32,32,1.0);
	// background-image: url('../images/bottom-bg.png');
	// background-repeat: repeat-x;
	// background-position: bottom center;
	// background-size: 110px;
}
#version {
	z-index: 20;
	position: absolute;
	color: #ffffff;
	font-family: Arial, 'Arial Sans Unicode', sans-serif;
	font-size: 12px;
	font-weight: normal;
	bottom: 3px;
	right: 300px;
}
#settings {
	font-family: FontAwesome;
	z-index: 99;
	position: absolute;
	bottom: 4px;
	width: 100%;
}
.mechselect_button_normal {
	font-size: 100%;
	padding: 5px;
	background-color: #da8e25;
	color: #000000;
	text-align: center;
}
.mechselect_button_normal:hover {
	font-size: 100%;
	padding: 5px;
	background-color: #925a0a;
	color: #000000;
	text-align: center;
}
.mechselect_button_normal_left {
	font-size: 100%;
	padding: 5px;
	background-color: #da8e25;
	color: #000000;
	text-align: left;
}
.mechselect_button_normal_left:hover {
	font-size: 100%;
	padding: 5px;
	background-color: #925a0a;
	color: #000000;
	text-align: left;
}
.mechselect_button_active {
	font-size: 100%;
	padding: 5px;
	background-color: #694007;
	color: #ffffff;
	text-align: center;
}
.mechselect_button_active_left {
	font-size: 100%;
	padding: 5px;
	background-color: #694007;
	color: #ffffff;
	text-align: left;
}



.mechselect_button_normal_play_left {
	font-size: 100%;
	padding: 5px;
	background-color: #556b8f;
	color: #000000;
	text-align: left;
}
.mechselect_button_normal_play_left:hover {
	font-size: 100%;
	padding: 5px;
	background-color: #425470;
	color: #000000;
	text-align: left;
}
.mechselect_button_active_play_left {
	font-size: 100%;
	padding: 5px;
	background-color: #2b3649;
	color: #ffffff;
	text-align: left;
}



.unitselect_button_normal {
 	font-size: 100%;
 	padding: 5px;
 	background-color: #565656;
 	color: #000000;
 	text-align: center;
 }
 .unitselect_button_normal:hover {
 	font-size: 100%;
 	padding: 5px;
 	background-color: #656565;
 	color: #000000;
 	text-align: center;
 }
 .unitselect_button_normal_left {
 	font-size: 100%;
 	padding: 5px;
 	background-color: #565656;
 	color: #000000;
 	text-align: left;
 }
.unitselect_button_normal_left:hover {
	font-size: 100%;
	padding: 5px;
	background-color: #656565;
	color: #000000;
	text-align: left;
}
input.bigcheck {
}
label.bigcheck {
}
span.bigcheck-target {
	font-family: FontAwesome;
	font-weight: bold;
	margin-left: -20px;
	margin-right: 0px;
	padding-left: -20px;
	padding-right: 0px;
	font-size: 100%;
}
input[type='checkbox'].bigcheck {     
	position: relative;
	left: -999em;
	opacity: 0;
	z-index: -10000;
}
input[type='checkbox'].bigcheck + span.bigcheck-target:after {
	content: "\f111";
	//transition: all .25s;
	font-family: 'Font Awesome 5 Free';
	font-weight: 200;
}
input[type='checkbox'].bigcheck:checked + span.bigcheck-target:after {
	content: "\f192";
	//transition: all .25s;
	font-family: 'Font Awesome 5 Free';
	font-weight: 200;
}
.datatable {
	width: 100%;
	position: absolute;
	z-index: 10;
	bottom: 45px;
}
.dataarea {
    border-radius: 12px;
	border-style: solid;
    border-width: 6px;
	padding: 3px;
	background: rgba(70,70,70,0.85);
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
}
.datalabel {
	font-family: 'Pathway Gothic One', sans-serif;
	vertical-align: middle;
	color: #999;
	font-size: 100%;
	padding-right: 5px;
}
.datalabel_thin {
	font-family: 'Pathway Gothic One', sans-serif;
	vertical-align: middle;
	color: #999;
	font-size: 100%;
	padding-right: 5px;
}
.datavalue {
	vertical-align: middle;
	font-size: 100%;
	color: #ccc;
	text-transform: uppercase;
}
.datavalue_small {
	vertical-align: middle;
	font-size: 110%;
	color: #ccc;
	text-transform: uppercase;
}
.datavalue_thin {
	font-family: 'Pathway Gothic One', sans-serif;
	vertical-align: middle;
	font-size: 100%;
	text-transform: uppercase;
	color: #ccc;
}
